/* CONTENT */

.content {
    max-width: 940px;
    display: block;
    margin: 0 auto;
}

/* SECTION */

h2 {
    font-size: 2rem;
    margin: 1rem;
    margin-top: 3rem
}

h3 {
    font-size: 1.5rem;
    margin: 1rem;
    margin-top: 3rem;
}

h2:nth-child(1) {
    margin-top: 1rem;
}

/* SECTION PARAGRAPH */

.section__paragraph {
    margin: 1rem;
    text-align: justify;
}

/* SECTION CODE */

.section__code, ul {
    margin-left: 3rem;
    margin-right: 1rem;
    text-align: justify;
}

.section__code {
    background-color: #bebebe;
    padding: 1.5rem 1rem;
}

li {
    margin: 1rem 0;
    list-style: disc;
}