.header {
    background-color: rgb(28, 27, 27);
    color: #f2f2f2;
    text-align: right;
    width: 100%;
}


.header__insideContainer {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: .7rem 0;
}

.header__title {
    text-transform: uppercase;
}